.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(255,255,255,0.4);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.4);
}
h1 {
    color: red;
    text-shadow: 2px 2px 0 rgba(0,0,0,.4);
    text-transform: uppercase;
}
#controls {
    text-align: center;
}
.time {
    font-weight: bold;
    font-size: 3em;
}
body{
	background: url(../pomodoro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}